body {
        background-color: #333333;
}
h1 {
        color: #ffffff;
        font-family: Helvetica, Arial, sans-serif;
}
h2 {
        color: #dddddd;
        font-family: Helvetica, Arial, sans-serif;
}
h3 {
        color: #dddddd;
        font-family: Helvetica, Arial, sans-serif;
}
p {
        color: #cccccc;
        font-family: Helvetica, Arial, sans-serif;
}
a:link {
        color:#888888;
}
a:visited {
        color:#888888;
}
a:hover {
        color:#dddddd;
}
a:active {
        color:#dddddd;
}
@media only screen and (max-width: 1440px) {
        .center-div{
                margin: 2% auto;
                width:90%;
        }
}
@media only screen and (min-width: 1441px) {
        .center-div{
                margin: 2% auto;
                width:50%;
        }
}
li {
        color: #cccccc;
        font-family: Helvetica, Arial, sans-serif;
}
