@media only screen and (max-width: 89ch) {
    .center-div, .footer-div{
        margin: 2% auto;
        width:90%;
	}
    .footer-div{
		text-align: center;
	}
}

@media only screen and (min-width: 90ch) {
    .center-div, .footer-div{
        margin: 2% auto;
        width: 80ch;
	}
    .footer-div{
		text-align: center;
	}
}

body{
    background-color: #333333;
    color: #cccccc;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, th{
    color: #ffffff;
}

a:link,a:visited{
        color:#888888;
}
a:hover,a:active{
        color:#dddddd;
}

a.clandyheader:link, a.clandyheader:visited{
	color: #ffffff;
	text-decoration:none;
	font-family: Helvetica, Arial, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.live{
    color: red;
    font-weight: bold;
}

.live *{
    color: #C00;
}

.studio,.studio *{
    color: #666;
}
