li.dark, li.light{
    border-radius: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.25em;
}

li.dark{
    background-color: #111;
    color: #CCC;
}

li.light{
    background-color: #CCC;
    color: #111;
}

._3rowspace{
    margin-top: 3em;
}

.red-font{
    color:red;
}

.green-font{
    color:green;
}

table{
    margin: auto;
}

th, td{
    padding-left: 3em;
    padding-right: 3em;
}
