@media only screen and (max-width: 480px){
	/* Which divs ARE we showing? */
	.barebones{
		display: block;
		text-align: center;
		margin: 2.5em auto;
	}

	body{
		background-color: #EEE;
	}

	em{
		font-weight: bold;
		font-style: normal;
	}

	p{
		margin: 0.25em;
	}
}
