body {
	font-family: Helvetica, Arial, sans-serif;
}

.center-div{
	margin: 2% auto;
	width:90%;
	border-style: groove;
	border-radius: 2px;
	background-color: #EEEEEE;
}

.footer-div{
	margin: 2% auto;
	width:90%;
	text-align: center;
	border-style: groove;
	border-radius: 2px;
	background-color: #EEEEEE;
}

.header-div{
	margin: 2% auto;
	width:90%;
	text-align: center;
	border-style: groove;
	border-radius: 2px;
	background-color: #EEEEEE;
}

#flag{
	margin: 2% auto;
	width:90%;
	text-align: center;
	border-style: groove;
	border-radius: 2px;
}

@media only screen and (max-width: 359px) {
	.barebones{
		display: block;
		text-align: center;
	}
	body{
		background-color: #AAA;
	}
	.center-div, .footer-div, .header-div, #flag{
		display: none;
	}
}

@media only screen and (min-width: 360px) {
	.barebones{
		display: none;
	}
	body{
		background-color: #000;
	}
}
@media only screen and (min-width: 1441px) {
	.center-div{
		margin: 2% auto;
		width:33%;
		border-style: groove;
		border-radius: 2px;
		background-color: #EEEEEE;
		}
	.footer-div{
		margin: 2% auto;
		width:33%;
		text-align: center;
		border-style: groove;
		border-radius: 2px;
		background-color: #EEEEEE;
		}
	.header-div{
		margin: 2% auto;
		width:33%;
		text-align: center;
		border-style: groove;
		border-radius: 2px;
		background-color: #EEEEEE;
		}
	#flag{
		margin: 2% auto;
		width:33%;
		text-align: center;
		border-style: groove;
		border-radius: 2px;
		}
}
