body{
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	/* need a background image */
}

#ch{
	color: #C00;
}

#co{
	/*color: #A0A;*/
	color: #808;
}

.footer, .header, .sidebar, .barebones, .barebones-footer, .mcont, .banner, #flag, #hptim{
	display: none;
}

/*Barebones Layout*/
@media only screen and (max-width: 320px){
	/* Which divs ARE we showing? */

	body{
		font-size: 100%;
	}

	.barebones{
		display: block;
		text-align: center;
		margin: 2.5em auto;
	}

	.barebones-footer{
		display: block;
		position: absolute;
		margin: 0.5em auto;
		width:95%;
		text-align: center;
		bottom: 0;
	}

	body{
		background-color: #EEE;
	}

	em{
		font-weight: bold;
		font-style: normal;
	}

	p{
		margin: 0.25em;
	}
}

/*Small Mobile Layout*/
@media only screen and (min-width: 320px){
	/* Which divs ARE we showing? */
	.barebones{
		display: block;
		text-align: center;
		margin: 2.5em auto;
		font-size: 140%;
	}

	.barebones-footer{
		display: block;
		position: absolute;
		margin: 0.5em auto;
		width:95%;
		text-align: center;
		bottom: 0;
	}

	body{
		background-color: #EEE;
	}

	em{
		font-weight: bold;
		font-style: normal;
	}

	p{
		margin: 0.25em;
	}
}

/*Medium Mobile Layout*/
@media only screen and (min-width: 375px){
	.barebones, .barebones-footer{
		display: none;
	}

	.header, .footer, .mcont, .banner{
		display: block;
		text-align: center;
		margin: 2.5em auto;
	}

	body{
		background-color: #DDD;
		font-size: 77%;
	}

	h1, h2, h3, h4, h5, h6{
		margin: 0.5em;
	}

	.header, .mcont, .banner{
		margin: 0.5em auto;
		width: 28em;
		text-align: center;
		border-style: groove;
		border-width: 3px;
		background-color: #FFF;
		}
	
	div{
		border-image:
			linear-gradient(to bottom right, #C00 0%, #808 75%);
		border-image-slice: 1;
	}
	
	.footer{
		position: absolute;
		margin: 0.5em auto;
		width:95%;
		text-align: center;
		bottom: 0;
	}

	em{
		font-weight: bold;
		font-style: italic;
	}

	a{
		color: #333;
		font-style: normal;
	}
}

/*Large Mobile Layout*/
@media only screen and (min-width: 425px){
	.barebones, .barebones-footer{
		display: none;
	}

	.header, .footer, .mcont, .banner{
		display: block;
		text-align: center;
		margin: 2.5em auto;
	}

	body{
		font-size: 80%;
	}

	.header, .mcont, .banner{
		margin: 0.5em auto;
		width: 28em;
		text-align: center;
		border-style: groove;
		border-radius: 2px;
		}

	.footer{
		position: absolute;
		margin: 0.5em auto;
		width:95%;
		text-align: center;
		bottom: 0;
	}

	em{
		font-weight: bold;
		font-style: italic;
	}
}

/*Tablet Layout*/
@media only screen and (min-width: 768px){
	.mcont, .banner, .barebones, .barebones-footer{
		display: none;
	}

	.footer, .header, .sidebar, #flag, #hptim{
		display: block;
	}

	body{
		font-size: 80%;
	}

	.header, .mcont{
		margin: 0.5em;
		margin-left: calc(20em + 50% - 30em);
		margin-right: calc(50% - 27em);
		width: 39em;
		text-align: center;
		border-style: groove;
		border-radius: 2px;
		background-color: #EEE;
		}

	.footer{
		position: absolute;
		bottom: 0;
		margin: 0.5em;
		margin-left: calc(20em + 50% - 27em);
		margin-right: calc(50% - 27em);
		width: 33.75em;
		text-align: center;
		}

	#flag{
		top: 0;
		margin: 0.5em;
		margin-left: calc(20em + 50% - 30em);
		margin-right: calc(50% - 27em);
		width: calc(39em + 6px);
		text-align: center;
		border-style: none;
		border-radius: 0px;
		background-color: #EEE;
	}
	
	.sidebar{
		/*z-index: 1;*/
		position: absolute;
		left: 0;
		top: 0;
		/*height: 90%;*/
		/*width: 37%;*/
		width: 20em;
		margin: 0.12em auto;
	}

	/*h3#sidebar{*/
	.sidebar h3{
		display: block;
		text-align: center;
		border-style: groove;
		border-radius: 2px;
		background-color: #EEE;
		padding: 0.25em;
		font-style: normal;
		border-image:
			linear-gradient(to bottom right, #C00 0%, #808 75%);
		border-image-slice: 1;
	}

	.sidebar h3 a{
		display: block;
		color: #333;
		font-style: normal;
		text-decoration: none;
	}
}

/*Laptop & Landscape Tablet Layout*/
@media only screen and (min-width: 1024px){
	.mcont, .banner, .barebones, .barebones-footer{
		display: none;
	}

	.footer, .header, .sidebar, #flag, #hptim{
		display: block;
	}

	body{	
		font-size: 80%;
	}
}

/*Desktop PC Layout*/
@media only screen and (min-width: 1440px) {
  .footer, .header, .sidebar, .barebones, .barebones-footer, .mcont, .banner, #flag, #hptim{
	display: none;
  }
}

/*Let's try and make a 4k layout*/
/*@media only screen and (min-width: 1440px) {
  .footer, .header, .sidebar, .barebones, .barebones-footer, .mcont, .banner, #flag, #hptim{
	display: none;
  }
}*/
