@media only screen and (min-width: 1080px) {
	.sidebar, #hptim{
		display: block;
	}

	.footer, .header, .barebones, .mcont, #flag, .banner{
	display: none;

	body{
		background-color: #BBB;
		font-size: 67.50%;
	}

	h1, h2, h3, h4, h5, h6{
		margin: 0.5em;
	}

	.sidebar{
		/*z-index: 1;*/
		position: absolute;
		left: 0;
		top: 0;
		/*height: 90%;*/
		width: 37%;
		margin: 0.12em auto;
	}
}
